 /******************* NEWS ************************/

 .container .news{
    height: calc(100% - 80px);
    width: 100%;
    display: block;
    background: rgb(216, 156, 44);
}
.container .news_bt {
    border-radius: 100%;
    background: #febf15;
    padding: 20px; 
    width: 40px;
    height: 40px;  
    display: inline-block;
  }
  .container .news_bt:hover {
    border-radius: 100%;
    padding: 20px; 
    width: 40px;
    height: 40px;  
    display: inline-block;
    cursor: pointer;
    background: #fad15f;
    
  }
  .container .news_bt a{
    margin-left:-2px;
  }
  .container .news_bt:hover a{
    color: black;
  }