/******************* BIO ************************/
.container .bio{
    height: calc(100% - 80px);
    width: 100%;
    display: block;
    background-color: white;
    min-height: 100vh;
    position: relative;
}
.container .bio_bt a {
    margin-left: 8px;
}
.container .bio_bt {
    border-radius: 100%;
    background: #fd8e49;
    padding: 20px; 
    width: 40px;
    height: 40px;  
    display: inline-block;
  }
.container .bio_bt:hover {
    border-radius: 100%;
    padding: 20px; 
    width: 40px;
    height: 40px;  
    display: inline-block;
    cursor: pointer;
    background: #f5a471;
  }
  .container .bio_bt:hover a{
    color: black;
  }

  .container .bio .bio_box{
     width: 100%;
     min-height: 550px;
     margin-top:-100px;
     background: url('../assets/bio-bg.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: top;
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
  }

  .container .bio .bio_box .img{
    width: 400px;
    height: 600px; 
    background: url('../assets/foto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center ;
    display: inline-block;
    margin-left: 40vh;
    position: absolute;
    box-shadow: 5px 5px 3px #85888d;
  }

  .container .bio .bio_box .about_author{
    display: inline-block;
    width: 40%;
    margin-left: 90vh;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:20px;
  }

  .container .bio .bio_box .about_author .about_title{
    font-size: 25px;
    font-weight: bold;
    color: #db721c;
  }

  .container .bio .bio_box .about_author .about_name{
    font-size: 40px;
    color: #000000;
    font-weight: bold;
  }

  .container .bio .bio_box .about_author .description{
    font-size: 14px;
    padding-top: 20px;
  }


  
  @media only screen and (max-width: 1024px) {
    .container .bio .bio_box .img{
      width: 331px;
      height: 500px;
      background: url(../assets/foto.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      display: inline-block;
      margin-left: 13vh;
      box-shadow: 5px 5px 3px #85888d;
    }
    .container .bio .bio_box{
      margin-top:0px;
    }
    .container .bio .bio_box .img{
      margin-left: 4vh;
    }
    .container .bio .bio_box .about_author{
      margin-top:550px;
      margin-left: 4vh;
      width: 80%;
    }
    .container .bio .bio_box .about_author .description{
      text-align: center;
    }

    .container .bio{
      min-height: 1990px;
    }
  }

  @media only screen and (min-width: 700px)  and  (max-width: 1024px){

  }
 